body {
    max-height: 55rem;
}

#plan {
    position: relative;
    top: -9rem;
    left: 70rem;
    height: 30rem;
    width: 20rem;
    border: 3px solid #556F44;
    border-radius: 10px;
}

#planMax {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 19rem;
    max-height: 19rem;
}

#planMax::-webkit-scrollbar {
    display: none;
}

#addPlan {
    position: relative;
    top: 0rem;
}

#planAdd {
    position: relative;
    top: 1rem;
}

#planDate {
    position: absolute;
    left: 1rem;
    height: 1.2rem;
    width: 7.5rem;
    color: #36827f;
    background-color: #2C2D2E;
    font-size: 110%;
    font-weight: bold;
    border: 2px solid #a53860;
    border-radius: 5px;
}

#planName {
    position: absolute;
    left: 2rem;
    top: 4.1rem;
    height: 1rem;
    width: 10rem;
    color: #36827f;
    background-color: #2C2D2E;
    font-size: 115%;
    font-weight: bold;
    border: 2px solid #a53860;
    border-radius: 5px;
}

#planType {
    position: absolute;
    left: 9rem;
    top: 2.3rem;
    height: 1.5rem;
    color: #36827f;
    background-color: #2C2D2E;
    font-size: 110%;
    font-weight: bold;
    border: 2px solid #a53860;
    border-radius: 5px;
}

#planSubmit {
    position: absolute;
    left: 13rem;
    top: 4rem;
    height: 1.5rem;
    color: #36827f;
    background-color: #2C2D2E;
    font-size: 110%;
    font-weight: bold;
    border: 2px solid #a53860;
    border-radius: 5px;
}

.handball {
    position: relative;
    top: 0.5rem;
    left: 1rem;
    min-height: 5rem;
    width: 18rem;
    border: 0.5px solid #b23456;
    background-color: #191919;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    text-align: center;
}

.handballName {
    font-size: 110%;
}

.handballDate {
    font-size: 100%;
    color: #93c0c2;
}

.party {
    position: relative;
    top: 0.5rem;
    left: 1rem;
    min-height: 5rem;
    width: 18rem;
    border: 0.5px solid #5bd807;
    background-color: #191919;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    text-align: center;
}

.partyName {
    font-size: 110%;
}

.partyDate {
    font-size: 100%;
    color: #93c0c2;
}

#upcoming {
    position: relative;
    top: -39.3rem;
    left: 20rem;
    height: 30rem;
    width: 47rem;
    border: 3px solid #556F44;
    border-radius: 10px;
    text-align: center;
}

#examBorder {
    position: relative;
    top: 0.5rem;
    left: 2rem;
    height: 24rem;
    width: 20rem;
    border: 2px solid #b23456;
    border-radius: 5px;
}

#examTitle {
    font-family: 'Pixel';
    color: #b23456;
}

#examMax {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 20rem;
}

#examMax::-webkit-scrollbar {
    display: none;
}

.exams {
    position: relative;
    top: 0.5rem;
    left: 1rem;
    height: 5rem;
    width: 18rem;
    border: 0.5px solid #b23456;
    background-color: #191919;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.exams:hover .workDetail {
    display: block;
}

.examMiniTitle {
    font-size: 120%;
    margin-bottom: 0.6rem;
}

.examText {
    font-size: 100%;
    color: #93c0c2;
}

#workBorder {
    position: relative;
    top: -23.7rem;
    left: 25rem;
    height: 24rem;
    width: 20rem;
    border: 2px solid #a53860;
    border-radius: 5px;
}

#workTitle {
    font-family: 'Pixel';
    color: #a53860;
}

#workMax {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 20.3rem;
    max-height: 20.3rem;
}

#workMax::-webkit-scrollbar {
    display: none;
}

.maths {
    position: relative;
    top: 0.5rem;
    left: 1rem;
    height: 5rem;
    width: 18rem;
    border: 0.5px solid #697d64;
    background-color: #191919;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.maths:hover .workDetail {
    display: block;
}

.english {
    position: relative;
    top: 0.5rem;
    left: 1rem;
    height: 5rem;
    width: 18rem;
    border: 0.5px solid #f3f8f7;
    background-color: #191919;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.english:hover .workDetail {
    display: block;
}

.physics {
    position: relative;
    top: 0.5rem;
    left: 1rem;
    height: 5rem;
    width: 18rem;
    border: 0.5px solid #6162f3;
    background-color: #191919;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.physics:hover .workDetail {
    display: block;
}

.electronics {
    position: relative;
    top: 0.5rem;
    left: 1rem;
    height: 5rem;
    width: 18rem;
    border: 0.5px solid #e9d956;
    background-color: #191919;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.electronics:hover .workDetail {
    display: block;
}

.workMiniTitle {
    font-size: 110%;
}

.workText {
    font-size: 90%;
    color: #93c0c2;
}

.workDetail {
    display: none;
    position: absolute;
    left: -0.5rem;
    min-height: 2rem;
    max-height: 10rem;
    width: 19rem;
    background-color: #2C2D2E;
    border-radius: 10px;
    border: 2px solid #a53860;
    z-index: 1;
}

.workDetailText {
    color: #93c0c2;
}